/*.progress-gradient {
    position: relative;
    height: 20px;
    border-radius:0;
    text-align:center;
    border:1px solid #cdcdcd;
    background: rgba(145,232,66,1);
    background: -moz-linear-gradient(left, rgba(145,232,66,1) 0%, rgba(255,69,69,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(145,232,66,1)), color-stop(100%, rgba(255,69,69,1)));
    background: -webkit-linear-gradient(left, rgba(145,232,66,1) 0%, rgba(255,69,69,1) 100%);
    background: -o-linear-gradient(left, rgba(145,232,66,1) 0%, rgba(255,69,69,1) 100%);
    background: -ms-linear-gradient(left, rgba(145,232,66,1) 0%, rgba(255,69,69,1) 100%);
    background: linear-gradient(to right, rgba(145,232,66,1) 0%, rgba(255,69,69,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#91e842', endColorstr='#ff4545', GradientType=1 );

}
.progress-gradient span{
    position: relative;
    z-index: 2;
    font-size:12px;
    display: block;
    height:100%;
}
.progress-gradient .progress-bar {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background: #f7f7f7;
    width: 0;
    box-shadow:none;
}

.progress-bar-animated{
    animation: animate-stripes 3s linear infinite;  
}
.progress-bar{
    font-size:11px;
}*/

.progress {
    position: relative;
    height: 31px;
    background: #35cc62;
    background: -moz-linear-gradient(left, #35cc62 0%, #ffb54c 50%, #fa6557 100%);
    background: -webkit-linear-gradient(left, #35cc62 0%,#ffb54c 50%,#fa6557 100%);
    background: linear-gradient(to right, #35cc62 0%,#ffb54c 50%,#fa6557 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#35cc62', endColorstr='#fa6557',GradientType=1 );
}

